<div class="container">

<div class="griddy">
<% if @user.owner == false %>
  <% @flats.each do |list| %>
   <div class="card">
    <div class="card__image-holder">
        <%#= cl_image_tag "dwpg2q973x2zlxit5ui6zz8rdz1f",class: "card__image", height: 300, width: 400, crop: :fill %>
        <%# <%= cl_image_tag list.photo.key,class: "card__image", height: 300, width: 400, crop: :fill %>
      <img class="card__image" src="https://source.unsplash.com/300x225/?apartments" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
            <li ><%= list.title    %></li>
            <li ><%= list.address  %></li>
            <li ><%= list.price  %>$</li>
            <li ><%= list.room_type  %></li>
            <li ><%= list.total_occupancy  %></li>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="flat_path(list)" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <%end%>
<%end%>
</div>
