<div class="container">
  <h1>My Flats</h1>

  <% if @user.owner == false %>
    <% @flats.each do |list| %>
    <h1>Flats</h1>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
        <%#= cl_image_tag "vq01fmtcukkfjtechapz", height: 300, width: 400, crop: :fill %>
        <%# <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
          <img class="card-img-top" src = "<%= image_path 'firstflat1.jpg'%>" alt="img">
            <li ><%= list.title    %></li>
            <li ><%= list.address    %></li>
            <li ><%= list.price  %></li>
            <li ><%= list.room_type  %></li>
            <li ><%= list.total_occupancy  %></li>
            <%= link_to "See more info", flat_path(list), class: "btn btn-primary mb3"%>
          </div>
        </div>
      <% end  %>
    </div>
  <% end %>
</div>

<%# 2. why is my image not showing %>
<%# 4. can you mix boostrap and usual css - certain classes are boostrap inbuilt, be careful with name%>
<%# 5. use splash for image %>
