<div class="container p-auto mt-3 ">
  <div class="row mx-auto">
      <div class="col-md-8 bg-white bg-opacity-50">
        <%= cl_image_tag @flat.photo.key, class: "m-3", height: 300, width: 400, crop: :fill %>
        <div class="alert-success" role="alert">
        <h2 class="m-auto alert-heading"> <%= @flat.title %></h2>
        </div>
        <h4 class="m-auto">Address:  <%= @flat.address %></h4>
        <h4 class="m-auto"> £<%= @flat.price %></h4>
        <h4 class="m-auto">Rooms: <%= @flat.total_occupancy %></h4>
        <h4 class="mb-3">Room Type: <%= @flat.room_type %></h4>
      </div>
      <div class="col-md-4 bg-black text-white bg-opacity-75 m-auto pt-2">
        <%= simple_form_for [@flat, @booking], data: { controller: 'flatpickr'} do |f| %>
          <% if @user.owner == false %>
          <%= f.input :start_time, label: 'Check-in', as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          <%= f.input :end_time, label: 'Check-out', as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
          <%= f.input :status, label: 'Guests', as: :select, collection: [['Send Request', '0']] %>
          <div class="d-grid">
            <%= f.submit class: "btn btn-primary mx-auto pb-2" %>
          </div>
          <% else %>
          <%= f.input :status, label: 'Approval', as: :radio_buttons, collection: [['Reject', '1'], ['Confrim', '2']] %>
          <%= f.submit class: "btn btn-primary mx-auto pb-2" %>
          <% end  %>
          <% end %>
        </div>
      </div>
    </div>
