<div class="container d-flex">
  <div class="card">
    <div class="card-title m-3">
      <%= cl_image_tag @flat.photo.key, class: "mb-3", height: 300, width: 400, crop: :fill %>
      <h2 class="m-auto">Title: <%= @flat.title %></h2>
      <h2 class="m-auto">Address:  <%= @flat.address %></h2>
      <h3 class="m-auto">Price: £<%= @flat.price %></h3>
      <h3 class="m-auto">Rooms: <%= @flat.total_occupancy %></h3>
      <h3 class="m-auto">Room Type: <%= @flat.room_type %></h3>

      <%= simple_form_for [@flat, @booking], class: "mt-3", data: { controller: 'flatpickr'} do |f| %>
      <% if @user.owner == false %>
      <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_time, as: :string %>
      <%= f.input :status, as: :select, collection: [['Send Request to owner', '0']] %>
      <%= f.submit class: "btn btn-primary" %>
      <% else %>
      <%= f.input :status, as: :radio_buttons, collection: [['Reject', '1'], ['Confrim', '2']] %>
      <%= f.submit class: "btn btn-primary" %>
      <% end  %>
      <% end %>
    </div>
  </div>
</div>
