<div class="container d-flex">
<div class="card">
<div class="card-title">
<%# <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>
<%# <h1><%= @flat.title %></h1>
<h2>Address:  <%= @flat.address %></h2>
<h3>Price: £<%= @flat.price %></h3>
<h3>Rooms: <%= @flat.total_occupancy %></h3>
<h3>Room Type: <%= @flat.room_type %></h3>

<%= simple_form_for [@flat, @booking] do |f| %>
<% if @user.owner == true %>
<%= f.input :status, as: :select, collection: [['Send Request to owner', '0']] %>
<%= f.submit class: "btn btn-primary" %>
<% else %>
<%= f.input :status, as: :radio_buttons, collection: [['Reject', '1'], ['Confrim', '2']] %>
<%= f.submit class: "btn btn-primary" %>
<% end  %>

<% end %>
</div>
</div>
</div>
</div>
