<div class="container">
<div class="card">
<%= @booking.flat.address %>
<%= @booking.flat.total_occupancy %>
<%= @booking.flat.price %>
<%= @booking.user.name %>
<%= @booking.user.email %>
<%= @booking.user.owner %>
<%= @booking.status %>
</div>
</div>
